+*
.dotest
.*.cmd
autom4te*
bin
click-buildtool
click-compile
config.cache
config.log
config.mk
config.status
configure.lineno
depcomp
elementmap
elementmap.xml
installch
man
stamp-egroup
stamp-h
cos/*.o
cos/*.d
elements/*/*.o
lib/*.o
